<div class="authform">
  <%= form_for(@idconfiguraciones, 
               :url => ctlcenconfiguraciones_path(@idconfiguraciones), 
               :html => { :role => 'form' }) do |f| %>
    <h3>Alta de configuración</h3>
    <br />
    <div class="form-group">
      <div class="row">
        <div class="small-4 columns">
          <%= f.label t('label-forms.name') %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :account_number_id, value: @user, class: "form-control", readonly: true %>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :num_valor1 %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :num_valor1, :autofocus => true, class: "form-control", placeholder: "Valor 1", value: "" %>
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns">
          <%= f.label :nom_valor2 %>
        </div>
        <div class="small-8 columns">
          <%= f.text_field :nom_valor2, class: "form-control", placeholder: "Valor 2" %>
        </div>
      </div>
      <div class="row">
      	<div class="small-4 columns">
      	  <%= f.label :des_descripcion %>
      	</div>
      	<div class="small-8 columns">
      	  <%= f.text_area :des_descripcion, class: "form-control", placeholder: "Descripción del Id..." %>
      	</div>
      </div>
    </div>
   	<%= f.submit 'Create', class: "button small right boton-radius-personalizado" %>
   	<%= link_to t('lbl-boton.back'), :back %>
  <% end %>
</div>
