<div class="authform">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :avatar %>
        <%= f.file_field :avatar, autofocus: true %>
      </div>
    </div>
  
    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: :name %>
      </div>
    </div>
  
    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :account_number %>
        <%= f.text_field :account_number, placeholder: :account_number.to_s.split('_').map(&:capitalize) %>
      </div>
    </div>
  
    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: :email.capitalize %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off", placeholder: :password.capitalize %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 columns">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: :password_confirmation.to_s.split("_").map(&:capitalize) %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", placeholder: :current_password.to_s.split("_").map(&:capitalize) %>
      </div>
    </div>

    <div>
      <%= f.submit "Update", class: "small button radius" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "small button radius" %></p>

  <%= link_to "Back", :back %>
</div>