<h2>Sign up</h2>

<div class="authform">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: :name.capitalize() %>
      </div>
    </div>
  
    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :account_number %>
        <%= f.text_field :account_number, class: "form-control", placeholder: :account_number.to_s.split("_").map(&:capitalize), value: "" %>
      </div>
    </div>
  
    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :password %> 
        <% if @validatable %>
          <i>(<%= @minimum_password_length %> characters minimum)</i>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", placeholder: :password.capitalize() %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: :password_confirmation.to_s.split("_").map(&:capitalize) %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-12 columns">
        <%= f.submit "Sign up", class: "small button radius" %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>